body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(154, 0, 126);
  
  }
  .passenger-card{
  margin:10px;
    background: #edddd0;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .form-item{
    width: 100%;
    margin-top: 20px;
    margin-bottom:10px;
  }
  
  .form-item label {
    color: #333;
  }
  
  .form-item input {
    float:right;
    margin-left:10px;
  
    border-radius:5px;
    padding:5px;
  }
  
  .passenger-card h3 {
  text-align:center;
  }
  
  button{
  padding:10px;
  color:rgb(31, 41, 61);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    background:  #fff;
  }