.booking-card{
    padding:10px;
margin:auto;
border-style: solid;
  background: #edddd0;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
width:30%;
}

    
    .gap{
    padding:70px;
    }
    
    div{
    margin-bottom:20px;
    }
    
    .right-part{
    float:right;
    }
    
    button{
    float:right;
    font-size:18px;
    }