<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>
</head>
<body>

<div class="Container m-5">
  <h1 align="center">Book Appointment</h1>
  <form method="post">
    <div>
      <label>First Name</label>
      <input type="text" placeholder="Enter First Name">
    </div>
    <div >
      <label >Last Name</label>
      <input type="text"  placeholder="Enter Last Name">
    </div>
    <div>
      <label>Age</label>
      <input type="text" placeholder="Enter Age">
    </div>
    <div >
      <label >Are you registered with LifeCare Hospitals</label>
      <select name="Type" id="registerStatus">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <div>
      <label>Patient Id (If yes)</label>
      <input type="text" placeholder="Enter Patient Id">
    </div>
    <div >
      <label >Select Type of Doctor Consultation</label>
      <select name="Type" id="docType">
        <option value="volvo">Volvo</option>
      </select>
    </div>
    <div >
      <label >Select Doctor</label>
      <select name="Doctor" id="doc">
        <option value="volvo">Volvo</option>
      </select>
    </div>
    <div>
      <label>Available Consultation Dates</label>
      <select name="Type" id="consultationDate">
        <option value="volvo">Volvo</option>
      </select>
    </div>

    <button type="submit" >Book Appointment</button>
  </form>
</div>

</body>
</html>