<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medication List</title>
</head>
<body>

<div class="Container">
    <h1>Medication List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Medication Name</th>
            <th>Prescribed Doctor Name</th>
            <th>Time to use</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email id</td>
            <td>
                <button>Update</button>
                <button>Delete</button>
                <button>View</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>